<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Cucumber_Framework</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="606c6b">  <td>20/02/26 11:16:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;cucumber.api.testng.AbstractTestNGCucumberTests.setUpClass()">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@534906248</td>   <td></td> </tr>
<tr bgcolor="606c6b">  <td>20/02/26 11:16:30</td>   <td>291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="cucumber.api.testng.AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)">feature</td> 
  <td>main@534906248</td>   <td></td> </tr>
<tr bgcolor="606c6b">  <td>20/02/26 11:17:23</td>   <td>52892</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;cucumber.api.testng.AbstractTestNGCucumberTests.tearDownClass()">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@534906248</td>   <td></td> </tr>
</table>
